<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gesturesNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6BBA4621E4E220F00F21A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6BBA47B1E4E220F00F21A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6BBA4861E4E220F00F21A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
